.header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  width: 40%;
}
.game-button-cont {
  margin: auto;
  text-align: center;
}
body {
  background-color: #1dd8e2;
}
h1 {
  margin: auto;
  text-align: center;
  padding-bottom: 2%;
  padding-top: 5px;
}
.title {
  margin-top: 10px;
}
.game-button {
  width: 20%;
  background-color: #1d76e2;
  color: white;
  font-size: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.start {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #1d76e2;
  color: white;
  cursor: pointer;
  width: 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
}
.game-container {
  margin: auto;
  text-align: center;
}
.container {
  width: 700px;
  height: 700px;
  margin: auto;
  /*padding: 50px;*/
  border: 3px solid black;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: repeat(var(--grid-rows), auto);
  grid-template-columns: repeat(var(--grid-cols), auto);
}
.color-btn-cont {
  /* border: black solid; */
  width: 10%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
  position: absolute;
  /* background-color: black; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.recolor {
  font-size: 80%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #1d76e2;
  color: white;
  cursor: pointer;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.grid-item {
  border: solid 0.5px black;
  text-align: center;
}

.grid {
  border: 5px solid;
  margin: auto;
  border-color: black;
  border-radius: 5px;
  background-color: white;
}

.title {
  text-align: center;
}
.score-card {
  margin: auto;
}
.score {
  text-align: center;
}

.resize {
  font-size: 80%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #1d76e2;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  width: 8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
